.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}



.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 50px;
}


.cart-container{

    margin: 50px 7px 0 0;
}

.random-product img{
    width: 80%;
    border-radius: 10px;
}


/* cart list */
.cart{
    background-color: rgba(144, 205, 255, 0.938);
    padding: 20px;
    position: sticky;
    top: 0;
    border-radius: 20px;
    color: rgb(20, 18, 18);
    
}



#surprise-btn{

    background-color: rgb(254, 254, 255);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;


}
#clear-btn{

    background-color: rgb(254, 254, 255);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px;


}








  @media screen and (max-width:1250px){

    .shop-container{
        display: grid;
        grid-template-columns:3fr 1fr ;
    }
    
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        margin: 50px;
    }
    
    
}  

@media screen and (max-width:1000px){

    .shop-container{
        display: grid;
        grid-template-columns: 2fr 1fr ;
    }
    
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        margin: 50px;
    }
    
    
} 








@media screen and (max-width:500px){

    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        margin: 80px;
    }

    .cart-container{

        margin:100px;
    }
    
    
}

