.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}



.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 50px;
}

@media screen and (max-width:1200px){

    .shop-container{
        display: grid;
        grid-template-columns: 3fr 1fr ;
    }
    
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        margin: 50px;
    }
    
    
}




@media screen and (max-width:950px){

    .shop-container{
        display: grid;
        grid-template-columns: 2fr 1fr ;
    }
    
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        margin: 150px;
    }
    
    
}




@media screen and (max-width:500px){

    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    
    
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        margin: 80px;
    }
    
    
}

