.product{
    
    border-radius: 10px;
    background-color: rgb(243, 171, 171);
    padding: 47px ;

}

.product img{
    border-radius: 15px;
}

.cart-btn{
    
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 34px;
    align-items: center;
    justify-content: center;
}

